{
    "DB_HOST": "db",
    "DB_PORT": "5432",
    "DB_NAME": "urlshortener",
    "DB_USER": "root",
    "DB_PASSWORD": "P@ssW0rd",
    "MACHINE_ID": "65535",
    "DB_MAX_CONNECTIONS": "5",
    "REPOSITORY":"MONGO",
    "MONGO_URL": "mongodb://bxpr:P%40s5W0rd@10.0.0.5:27017/?serverSelectionTimeoutMS=5000&connectTimeoutMS=10000&authSource=admin&authMechanism=SCRAM-SHA-256&3t.uriVersion=3&3t.alwaysShowAuthDB=true&3t.alwaysShowDBFromUserRole=true",
    "REDIS_URL": "10.160.106.108:6379",
    "ENABLE_CACHE": "false"
}